{% extends "template.htm" %}
{% set active_page = "account" %}
{% block title %} Account {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		Change Password
	</div>
	<div class="panel-body">
		<form method="post" action="/account">
			<div class="form-group">
				<label for="inputCurrentPassword">Current Password</label>
				<input type="password" class="form-control" id="inputCurrentPassword" name="pswdCurrent" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="inputPassword">New Password</label>
				<input type="password" class="form-control" id="inputPassword" name="pswd" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="inputPasswordRepeat">Repeat Password</label>
				<input type="password" class="form-control" id="inputPasswordRepeat" name="pswdRepeat" placeholder="Password">
			</div>
			<input type="hidden" name="changepassword" value="1">
			<button type="submit" class="btn btn-default">Change Password</button>
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Nick
	</div>
	<div class="panel-body">
		<form method="post" action="/account">
			<div class="form-group">
				<label for="inputNick">New Nick</label>
				<input type="text" class="form-control" id="inputNick" name="nick" value="{{ user.nick }}" placeholder="Nick">
			</div>
			<input type="hidden" name="changenick" value="1">
			<button type="submit" class="btn btn-default">Change Nick</button>
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		API Token
	</div>
	<div class="panel-body">
		{% if user.token %}
			<input class="form-control" type="text" value="{{ user.id }}-{{ user.token }}" readonly>
		{% else %}
			You don't have an API token yet, press the button below to grab one.
			<form method="post" action="/account">
				<input type="hidden" name="gettoken" value="1">
				<button type="submit" class="btn btn-default">Generate API Token</button>
			</form>
		{% endif %}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Entries
	</div>
	<div class="panel-body">
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th>PID</th>
					<th>Added</th>
					<th>Manage</th>
				</tr>
			</thead>
			<tbody>
			{% for entry in entries %}
				<tr>
					<td>{{ entry.pid }}</td>
					<td>{{ entry.added | datetime }}</td>
					<td>
						<a href="/{{ entry.pid }}"><button class="btn btn-default">View</button></a>
						<a href="/{{ entry.pid }}/raw"><button class="btn btn-default">View Raw</button></a>
						<a href="/delete/{{ entry.pid }}"><button class="btn btn-default">Delete</button></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<a href="/manage"><button class="btn btn-default">View More</button></a>
	</div>
</div>

<style>
	th, td {
		text-align: center;
	}
</style>

{% endblock %}
