{% extends "template.htm" %}
{% set active_page = "api" %}
{% block title %} API Reference {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		API Reference
	</div>
	<div class="panel-body">
		To call the API you have to simply send a POST request to this URL with parameters from the table below.
		<br>
		The API requires an authentication token which can be obtained after registering.
		<br>
		The API returns a single raw line in a format number:hash where the number is a return code (reference below) and the hash is your Paste ID (in case of successful submission). To access the entry you have to go to http://paste.diath.net/hash.
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		POST Fields
	</div>
	<div class="panel-body">
		<table class="table table-rounded table-bordered table-hover table-striped table-condensed">
			<thead>
				<tr>
					<th>Field</th>
					<th>Description</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr><td>syntax</td><td>Paste syntax; used for highlighting.</td><td>c, cpp, python, perl etc.</td></tr>
				<tr><td>expiration</td><td>Paste expiration time.</td><td>An integer between 0 and 604800.</td></tr>
				<tr><td>exposure</td><td>Paste exposure type.</td><td>Public or Private</td></tr>
				<tr><td>content</td><td>Paste content.</td><td>Anything up to 4MB.</td></tr>
				<tr><td>token</td><td>API access token.</td><td>The token from user profile.</td></tr>
			</tbody>
		</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Return Codes
	</div>
	<div class="panel-body">
		<table class="table table-rounded table-bordered table-hover table-striped table-condensed">
			<thead>
				<tr>
					<th>Code</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr><td>0</td><td>Paste added successfully.</td></tr>
				<tr><td>1</td><td>Some of the required fields are empty.</td></tr>
				<tr><td>2</td><td>Submitted syntax is not supported.</td></tr>
				<tr><td>3</td><td>Invalid expiration range specified.</td></tr>
				<tr><td>4</td><td>Invalid exposure value specified.</td></tr>
				<tr><td>5</td><td>Invalid API token provided.</td></tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
