{% extends "template.htm" %}
{% set active_page = "none" %}
{% block title %} Entry {{ entry.pid }} {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="container">
			<div class="left">
				<a id="toggle" href="#"><button class="btn btn-default">Toggle Line Numbers</button></a>
				<a href="/{{ entry.pid }}/download"><button class="btn btn-default">Download</button></a>
				<a href="/{{ entry.pid }}/raw"><button class="btn btn-default">View Raw</button></a>
				<a href="/{{ entry.pid }}/simple"><button class="btn btn-default">View Simple</button></a>
				<a href="/{{ entry.pid }}/dup"><button class="btn btn-default">Duplicate</button></a>
			</div>
			<div class="right">
			{% if author %}
				<span class="label label-default">Added by {{ author.nick }}</span>
			{% endif %}
			{% if entry.syntax != 'None' %}
				<span class="label label-default">{{ entry.syntax }}</span>
			{% endif %}
			{% if expiration %}
				{% if expiration < 0 %}
					<span class="label label-default">Expired {{ expiration | abs }} minutes ago (admin view)</span>
				{% else %}
					<span class="label label-default">Expires in {{ expiration }} minutes</span>
				{% endif %}
			{% endif %}
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
		{% autoescape false %}
			{{ content }}
		{% endautoescape %}
		</div>
	</div>
</div>

<style>
	.sourcetable {
		width: 100%;
		table-layout: fixed;
	}

	.linenos {
		width: 55px;
		font-weight: bold;
	}

	.source pre {
		background: none;
		border-radius: 0px;
		color: #eee;
		display: block;
		white-space: pre;
		overflow-x: auto;
		word-wrap: normal;
		font-weight: bold;
	}

	.source { background: #1d1f21; color: #c5c8c6 }
	.source .hll { background-color: #373b41 }
	.source .c { color: #969896 } /* Comment */
	.source .err { color: #cc6666 } /* Error */
	.source .k { color: #b294bb } /* Keyword */
	.source .l { color: #de935f } /* Literal */
	.source .n { color: #c5c8c6 } /* Name */
	.source .o { color: #8abeb7 } /* Operator */
	.source .p { color: #c5c8c6 } /* Punctuation */
	.source .cm { color: #969896 } /* Comment.Multiline */
	.source .cp { color: #969896 } /* Comment.Preproc */
	.source .c1 { color: #969896 } /* Comment.Single */
	.source .cs { color: #969896 } /* Comment.Special */
	.source .gd { color: #cc6666 } /* Generic.Deleted */
	.source .ge { font-style: italic } /* Generic.Emph */
	.source .gh { color: #c5c8c6; font-weight: bold } /* Generic.Heading */
	.source .gi { color: #b5bd68 } /* Generic.Inserted */
	.source .gp { color: #969896; font-weight: bold } /* Generic.Prompt */
	.source .gs { font-weight: bold } /* Generic.Strong */
	.source .gu { color: #8abeb7; font-weight: bold } /* Generic.Subheading */
	.source .kc { color: #b294bb } /* Keyword.Constant */
	.source .kd { color: #b294bb } /* Keyword.Declaration */
	.source .kn { color: #8abeb7 } /* Keyword.Namespace */
	.source .kp { color: #b294bb } /* Keyword.Pseudo */
	.source .kr { color: #b294bb } /* Keyword.Reserved */
	.source .kt { color: #f0c674 } /* Keyword.Type */
	.source .ld { color: #b5bd68 } /* Literal.Date */
	.source .m { color: #de935f } /* Literal.Number */
	.source .s { color: #b5bd68 } /* Literal.String */
	.source .na { color: #81a2be } /* Name.Attribute */
	.source .nb { color: #c5c8c6 } /* Name.Builtin */
	.source .nc { color: #f0c674 } /* Name.Class */
	.source .no { color: #cc6666 } /* Name.Constant */
	.source .nd { color: #8abeb7 } /* Name.Decorator */
	.source .ni { color: #c5c8c6 } /* Name.Entity */
	.source .ne { color: #cc6666 } /* Name.Exception */
	.source .nf { color: #81a2be } /* Name.Function */
	.source .nl { color: #c5c8c6 } /* Name.Label */
	.source .nn { color: #f0c674 } /* Name.Namespace */
	.source .nx { color: #81a2be } /* Name.Other */
	.source .py { color: #c5c8c6 } /* Name.Property */
	.source .nt { color: #8abeb7 } /* Name.Tag */
	.source .nv { color: #cc6666 } /* Name.Variable */
	.source .ow { color: #8abeb7 } /* Operator.Word */
	.source .w { color: #c5c8c6 } /* Text.Whitespace */
	.source .mf { color: #de935f } /* Literal.Number.Float */
	.source .mh { color: #de935f } /* Literal.Number.Hex */
	.source .mi { color: #de935f } /* Literal.Number.Integer */
	.source .mo { color: #de935f } /* Literal.Number.Oct */
	.source .sb { color: #b5bd68 } /* Literal.String.Backtick */
	.source .sc { color: #c5c8c6 } /* Literal.String.Char */
	.source .sd { color: #969896 } /* Literal.String.Doc */
	.source .s2 { color: #b5bd68 } /* Literal.String.Double */
	.source .se { color: #de935f } /* Literal.String.Escape */
	.source .sh { color: #b5bd68 } /* Literal.String.Heredoc */
	.source .si { color: #de935f } /* Literal.String.Interpol */
	.source .sx { color: #b5bd68 } /* Literal.String.Other */
	.source .sr { color: #b5bd68 } /* Literal.String.Regex */
	.source .s1 { color: #b5bd68 } /* Literal.String.Single */
	.source .ss { color: #b5bd68 } /* Literal.String.Symbol */
	.source .bp { color: #c5c8c6 } /* Name.Builtin.Pseudo */
	.source .vc { color: #cc6666 } /* Name.Variable.Class */
	.source .vg { color: #cc6666 } /* Name.Variable.Global */
	.source .vi { color: #cc6666 } /* Name.Variable.Instance */
	.source .il { color: #de935f } /* Literal.Number.Integer.Long */
</style>

<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', function() {
		document.getElementById('toggle').onclick = function(event) {
			for (let elem of document.getElementsByClassName('linenos')) {
				if (elem.style.display == 'none') {
					elem.style.display = ''
				} else {
					elem.style.display = 'none'
				}
			}

			event.preventDefault()
		}

		for (let elem of document.getElementsByClassName('linenos')) {
			elem.style.display = 'none'
		}
	}, false)
</script>

{% endblock %}
