{% extends "template.htm" %}
{% set active_page = "index" %}
{% block title %} New Paste {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		New Paste
	</div>
	<div class="panel-body">
		<form id="paste-form" method="post" action="/">
			<div class="row">
				<div class="col-xs-4">
					<select class="form-control" name="syntax" required>
						<option value="None">None</option>
						{% for language in languages %}
						<option value="{{ language[1][0] }}">{{ language[0] }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-xs-4">
					<select class="form-control" name="exposure" required>
						<option value="0" selected>Public</option>
						<option value="1">Private</option>
					</select>
				</div>
				<div class="col-xs-4">
					<select class="form-control" name="expiration" required>
						<option value="0" selected>Never</option>
						<option value="1800">30 minutes</option>
						<option value="3600">1 hour</option>
						<option value="18000">5 hours</option>
						<option value="43200">12 hours</option>
						<option value="86400">1 day</option>
						<option value="604800">1 week</option>
					</select>
				</div>
			</div>
			<br>
			<textarea name="content" class="form-control" rows="10" placeholder="Paste content goes here..." required>{% if content %}{{ content }}{% endif %}</textarea>
			<br>
			{% if not session.user and site_key %}
			<button class="g-recaptcha btn btn-default btn-block" data-sitekey="{{site_key}}" data-size="invisible" data-callback="onSubmit">Paste it!</button>
			{% else %}
			<button class="btn btn-default btn-block">Paste it!</button>
			{% endif %}
		</form>
	</div>
</div>

<script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
	function onSubmit()
	{
		document.getElementById('paste-form').submit()
	}
</script>

{% endblock %}
