{% extends "template.htm" %}
{% set active_page = "list" %}
{% block title %} List {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		Latest Public Entries
	</div>
	<div class="panel-body">
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th>PID</th>
					<th>Syntax</th>
					<th>Author</th>
					<th>Added</th>
				</tr>
			</thead>
			<tbody>
			{% for entry in entries %}
				<tr>
					<td>
						<a href="/{{ entry.pid }}">{{ entry.pid }}</a>
						{% if entry.exposure != 0 or entry.expired %}
							<br>
							{% if entry.exposure != 0 %}
								<span class="label label-default">Private</span>
							{% endif %}
							{% if entry.expired %}
								<span class="label label-default">Expired</span>
							{% endif %}
						{% endif %}
					</td>
					<td>{{ entry.syntax }}</td>
					<td>{{ entry.nick }}</td>
					<td>{{ entry.added | datetime }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<style>
	th, td {
		text-align: center;
	}
</style>

{% endblock %}
