{% extends "template.htm" %}
{% set active_page = "login" %}
{% block title %} Login {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		Login
	</div>
	<div class="panel-body">
		<form method="post" action="/login">
			<div class="form-group">
				<label for="inputMail">Email address</label>
				<input type="email" class="form-control" id="inputMail" name="mail" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control" id="inputPassword" name="pswd" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>

{% endblock %}
