{% extends "template.htm" %}
{% set active_page = "account" %}
{% block title %} Account Entries {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">Account Entries</div>
	<div class="panel-body">
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th>PID</th>
					<th>Added</th>
					<th>Manage</th>
				</tr>
			</thead>
			<tbody>
			{% for entry in entries %}
				<tr>
					<td>{{ entry.pid }}</td>
					<td>{{ entry.added | datetime }}</td>
					<td>
						<a href="/{{ entry.pid }}"><button class="btn btn-default">View</button></a>
						<a href="/{{ entry.pid }}/raw"><button class="btn btn-default">View Raw</button></a>
						<a href="/delete/{{ entry.pid }}"><button class="btn btn-default">Delete</button></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<ul class="pagination">
		{% for page in pagination.iter_pages() %}
		{% if page %}
			{% if page != pagination.page %}
				<li><a href="/manage/{{ page }}">{{ page }}</a></li>
			{% else %}
				<li class="active"><a href="/manage/{{ page }}">{{ page }}</a></li>
			{% endif %}
		{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>

<style>
	th, td {
		text-align: center;
	}
</style>

{% endblock %}
