{% extends "template.htm" %}
{% set active_page = "register" %}
{% block title %} Register {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		Register
	</div>
	<div class="panel-body">
		<form id="register-form" method="post" action="/register">
			<div class="form-group">
				<label for="inputMail">Email address</label>
				<input type="email" class="form-control" id="inputMail" name="mail" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control" id="inputPassword" name="pswd" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="inputPasswordRepeat">Repeat Password</label>
				<input type="password" class="form-control" id="inputPasswordRepeat" name="pswdRepeat" placeholder="Password">
			</div>
			<button class="g-recaptcha btn btn-default btn-block" data-sitekey="{{site_key}}" data-size="invisible" data-callback="onSubmit">Paste it!</button>
		</form>
	</div>
</div>

<script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
	function onSubmit()
	{
		document.getElementById('register-form').submit()
	}
</script>

{% endblock %}
