{% extends "template.htm" %}
{% set active_page = "stats" %}
{% block title %} Statistics {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		Statistics
	</div>
	<div class="panel-body">
		We currently have {{ users }} registered users.
		<br>
		 We also have a total of {{ total }} entries where {{ public }} of them are public and {{ private }} are private.
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Trending Languages
	</div>
	<div class="panel-body">
		<ul>
		{% for lang in trending %}
			<li>{{ lang[0] }} ({{ lang[1] }})</li>
		{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}
