{%
	set navigation = [
		[
			('/', 'index', 'New Paste'),
			('/list', 'list', 'List'),
			('/api', 'api', 'API'),
			('/script', 'script', 'Script'),
			('/stats', 'stats', 'Stats')
		],
		[
			('/login', 'login', 'Login'),
			('/register', 'register', 'Register')
		],
		[
			('/account', 'account', 'Account'),
			('/logout', 'logout', 'Logout')
		]
	]
%}
{% set active_page = active_page|default('index') -%}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<title>paste - {% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class="container">
			<div class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">paste</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
						{% for href, id, name in navigation[0] %}
							<li {% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ name|e }}</a></li>
						{%endfor %}
						</ul>
						<ul class="nav navbar-nav navbar-right">
						{% if session.user %}
						{% for href, id, name in navigation[2] %}
							<li {% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ name|e }}</a></li>
						{%endfor %}
						{% else %}
						{% for href, id, name in navigation[1] %}
							<li {% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ name|e }}</a></li>
						{%endfor %}
						{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			{% for category in [('error', 'danger'), ('success', 'success')] %}
			{% with messages = get_flashed_messages(category_filter=[category[0]]) %}
			{% if messages %}
			<div class="alert alert-{{ category[1] }}">
				<strong>Information</strong>
				<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% endwith %}
			{% endfor %}

			{% block body %}
			{% endblock %}
		</div>
		<hr>
		<div class="container">
			<p class="text-muted credit">
				The entries are the properties of their respective owners.
				<br>
				Powered by <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://www.sqlalchemy.org/">SQLAlchemy</a>, <a href="http://pygments.org/">Pygments</a> and <a href="http://getbootstrap.com">Bootstrap</a>.
				<br>
				This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.
			</p>
		</div>
	</body>
</html>
