/*
	The default style.
*/

body {
	background: #eee;
	cursor: default;
	padding-top: 15px;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
}

.left {
	float: left;
}

.right {
	float: right;
}

.grecaptcha-badge {
	visibility: hidden;
}
